body {
    background-image: url() ;
    background-position: fixed;
    background-size: cover;
}

a {
    float: right;
    padding: 7px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    border: 2px solid #fff;
    border-radius: 20px;
    text-decoration: none;

}

a:hover{
    background-color: #0011fd;
    color:black;
    transform: scale(1.2);

}
span {
    padding: 25px;
    color: gray;
    font-size: 20px;
}